*{
    box-sizing:border-box;
    user-select: none;
}


body{
    margin:0;
    padding:0;
   /* background-image: url("/opt/build/repo/src/images/BGP.png");
    */background-color: #de2e53;
    font-family: 'Roboto', sans-serif;}


    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        body{
            overflow: hidden;

        }
    }
.activity{
    touch-action: none;
    border-radius:50px;
    min-width:50px;
    padding:1em 2em;
    text-align:center;
    /*background:#f9a8b9;*/
    background-color: #de2e53;
    width:250px;
    cursor:pointer;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
   /* font-size: calc(1vh+.5rem);*/
   font-size: clamp(.5rem, 1vw, .1rem);
}

.activity:hover{
    background-color: #f195a9 ;

}

@media only screen and (max-width: 1000px) {
    .activity{
        width:30%;

    }
  }

  @media only screen and (max-width: 600px) {
    .activity{
        width:40%;
        font-size:0.8em;
    }


  }