---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Astro</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono&display=swap"
		rel="stylesheet">
	</head>
	<body>
		<h1>HELLLOOOO</h1>
	</body>
</html>
