---
import '../styles/global.css';
import '/opt/build/repo/src/dragulaFolder/dragula.min.css';
import FlexLayout from '/opt/build/repo/src/layouts/FlexLayout.astro';
import Column1 from '/opt/build/repo/src/layouts/Column1.astro';
import Column2 from '/opt/build/repo/src/layouts/Column2.astro';
import Column3 from '/opt/build/repo/src/layouts/Column3.astro';
import DragParent from '/opt/build/repo/src/components/DragParent.astro';
import {activities, answers} from  '/opt/build/repo/src/scripts/shuffle.js'; 
const activitiesCount = 10;

---

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Astro</title>
		<link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono&display=swap"
		rel="stylesheet">
	</head>
	<body>
		<FlexLayout>
			<Column1 > 
				<DragParent>	
					{activities.slice(0,activitiesCount).map((activity,index) => ( <div class = {`activity ${answers[index]}`}> {activity} </div>))}
				</DragParent>
			</Column1>
			<Column2 />
			<Column3>
			</Column3>
	  </FlexLayout>

	</body>
</html>
